.quem-somos{
    background-color: #fff;
    text-align: center;
    margin: 0 0 5rem 0;

    .quem-somos__titulo{
        color: #8D0606;
        font-family: $font-pacifico-roboto;
        font-size: 51px;
    }

    .quem-somos__descricao{
        font-weight: 300;
        font-family: $font-roboto;
        line-height: 30px;
        font-size: 28px;
        color:#8C8888;
    }

    .pessoas{
        @media #{$mq-mobile}{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }

        @media #{$mq-tablet}{
            flex-direction: column;
        }

        @media #{$mq-desktop}{
            flex-direction: row;
        }
        
        .pessoa{
            @media #{$mq-mobile}{
                display: flex;
                flex-direction: column;
                margin: 2rem 0;
            }

            @media #{$mq-desktop}{
                margin: 10px 0;
            }

            .pessoa__imagem{
                img{
                    border-radius: 100%;
                }
            }
            
            .pessoa__nome{
                color: #8D0606;
                font-family: $font-pacifico-roboto;
                font-size: 23px;
                line-height: 27px;
                margin: 1rem 0;
            }

            .pessoa__funcao{
                color:#8C8888;
                font-size: 18px;
                font-family: $font-roboto;
                line-height: 27px;
            }
        }
    }
}